.botao {
    background-color: #333334;
    display: flex;
    justify-content: center;
    height: 42px;
}

.edit {
    color: aliceblue;
}

.editmat {
    color: aliceblue;
    background-color: #3E3E3F;
    padding: 10px;
    display: flex;
    justify-content: center;
}