.Nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 77px;
  margin-top: -70px;
  padding-right: 10px;
}

.Navlink {
  color: #E3D12A;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}