.Título{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #333334;
    color: #fff;
}

.Posts {
    background-color: #333334;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card{
    margin:25px;
    width: 950px;
    background-color: #969696;
    height: 250px;
}

.imagem{
    height: 201px;
    padding: 10px;
}

.titulo{
    color: aliceblue;
    text-align: center;
    margin-top: -10px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: space-between;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #E3D12A;
}