.Título{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    background-color: #333334;
    color: #fff;
    padding: 10px 0 0 0;
    
}

.Posts {
    background-color: #333334;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.card{
    margin:25px;
    width: 950px;
    background-color: #C4C4C4;
    height: 250px;
}

.imagem{
    height: 201px;
    padding: 10px;
}

.titulo{
    color: #FFF;
    text-align: center;
    margin-top: -10px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: space-between;
}